.layout {
    padding: 1.2rem;
}
.card {
    background-color: lightgrey;
    margin-bottom: 1.2rem;
}
body{
    background-color: rgb(0, 104, 104);
}
#formInputs{
    background-color: rgb(0, 204, 204);
    padding: 30px;
    border-radius: 15px;
}
#formTitle{
    font-size: 50px;
}